@charset "UTF-8";


.container {
	margin : 0 20px;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

section {
	margin : 50px 0;
	width: 100%;
	min-height: 300px;
}

#l {
	width: 30%;
	float: left;
}



footer {
	clear: both;
	width: 100%;
	text-align: center;
	height: 40px;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 auto;
}

@media screen and (max-width:900px) {
	body {
		background-color: #ffffcc;
	}
}

@media screen and (max-width:600px) {
	body {
		background-color: #eeddee;
	}
}